* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  user-select: none;
}
:root {
  --container-color: rgb(24, 47, 63);
  --yellow-color: rgb(255, 213, 4);
  --paragraph-color: rgb(174, 172, 172);
}
/* container-style-start */
.container {
  background-color: var(--container-color);
  height: 100vh;
}
/* container-style-end */

/* header-style-start */
.header {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding-block: 30px;
  height: 75px;
  padding-inline: 25px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-logo i {
  font-size: 30px;
  color: var(--yellow-color);
}
.logo-set p:nth-child(2) {
  color: var(--yellow-color);
}
.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  list-style: none;
  font-size: 13px;
}
.header-links ul li {
  cursor: pointer;
}
.header-links ul li:nth-child(1) {
  border-bottom: 2px solid var(--yellow-color);
}
.header-links ul li i {
  font-size: 10px;
  background-color: transparent;
  color: var(--yellow-color);
}
.header-links ul i {
  font-size: 20px;
  color: black;
  background-color: var(--yellow-color);
  border-radius: 49%;
  padding: 5px;
  cursor: pointer;
}
/* header-style-end */

/* hero-section-style-start */
.hero-section {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: center;
  padding-inline: 5.957vw;
  padding-block: 8.789vw;
  gap: 15px;
}
.hero-title h1 {
  font-weight: 700;
}
.hero-title h1:nth-child(1) {
  color: var(--yellow-color);
}
.hero-paragraph {
  line-height: 20px;
  font-size: 13px;
  color: var(--paragraph-color);
}
.hero-inputs {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-inputs input {
  color: black;
  padding-inline: 10px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.hero-button button {
  font-size: 11px;
  font-weight: 600;
  color: var(--container-color);
  border-radius: 20px;
  border: none;
  outline: none;
  height: 30px;
  width: 60px;
  background-color: var(--yellow-color);
  cursor: pointer;
}
.hero-button button i {
  color: var(--container-color);
}

.mobile-set {
  display: none;
}

/* hero-section-style-end */

/* responsive header- start */

@media (max-width: 650px) {
  .header-links {
    display: none;
  }
  .mobile-set {
    display: block;
  }
  .fa-solid {
    font-size: 25px;
    cursor: pointer;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--yellow-color);
    padding-block: 5px;
    position: absolute;
    top: 55px;
    right: 25px;
    border-radius: 5px;
    width: 250px;
  }
  .mobile ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100% !important;
    padding-inline: 10px;
  }
  .mobile ul li {
    font-size: larger;
    width: 100% !important;
    padding-block: 5px;
    color: var(--container-color);
  }
  .mobile ul li:hover {
    background-color: brown;
    transition: 0.5s all linear;
    padding-inline-start: 10px;
    font-weight: 700;
  }
}

/* responsive header- end */
